* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Fredoka', sans-serif;
}

:root{
    --float-white:#fffeff;
    --float-dark:#0f0f16;
    --float-h1:#e53170;
    --float-info:#fbfdfa;
    --float-mail:#63b8db;
}

.pt-5{
    padding-top: 5px;
}

.pb-5{
    padding-bottom: 5px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    width: 80%;
}

header{
    margin-bottom: 3rem;
}

header h1 {
    color: var(--float-h1);
    text-align: center;
    margin: 1rem 0;
}

header p {
    margin-bottom: 2rem;
}

p {
    text-align: center;
}



.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.card{
    box-shadow: 0 0 5px var(--float-dark);
    height: 100px;
}

.col{
    width: calc(100%/12*4);
    float: left;
    margin-bottom: 2rem;
    padding: 0 1rem;
}

.info {
    width: calc(100% - 100px);
    background-color: var(--float-dark);
    color: var(--float-white);
    float: right;
    padding: 1rem;
    height:100px;
}

.avatar{
    background-color: var(--float-dark);
    float: left;
    width: 100%;
    height: 100px;
}

.info h3{
    
    padding-bottom: 5px;
}

.job{
    
    padding-bottom: 5px;
}

img {
    width: 100px;
}

.info a:hover {
    color:green;
    text-decoration: underline;
}

.info a{
    text-decoration: none;
    color: var(--float-mail);
   
}