* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Fredoka', sans-serif;
}

:root{
    --float-white:#fffeff;
    --float-dark:#0f0f16;
    --float-h1:#e53170;
    --float-info:#fbfdfa;
    --float-mail:#63b8db;
}

.container {
    max-width: 920px;
    margin: 0 auto;
}

header{
    margin-bottom: 3rem;
}

header h1 {
    color: var(--float-h1);
    text-align: center;
    margin: 1rem 0;
}

header p {
    margin-bottom: 2rem;
}

.cards {
    margin:auto;
    padding: 50px 0;
}

p {
    text-align: center;
}

.clearfix{
    content: '';
    display: table;
    clear: both;
}

.row .col{
    float:left;
    width: calc(90%/3);
    margin-right: calc(10%/3);
    padding: 0 1rem;
}

.col{
    background-color: black;
    border-width: 1rem;
}

.info {
    display: inline-block;
    width:calc(100%/3);
    padding: 0 1rem;
    color: var(--float-info);
}

.subcol{
    float:left;
    width: calc(100%/3);
    padding: 0 1rem;
}

img {
    width: 100px;
}

a:hover {
    color:green;
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: var(--float-mail);
}